<div class="rt-wrapper">
    <form class="rt-item" autocomplete="off">
        <div class="rt-panel rt-grid-col-6">
            <div class="rt-header">
                <div class="rt-header__info">
                    <div class="rt-header__logo rt-header__item-wrapper--span-4" style="min-height:50px"></div>
                    <div class="rt-header__item-wrapper--span-2">
                        <span class="rt-header__title">Name</span>
                        <input class="rt-header__input" name="name" type="text" value="{{item.name}}" />
                    </div>
                    <div class="rt-header__item-wrapper--span-2">
                        <span class="rt-header__title">Modifier</span>
                        <input class="rt-header__input" name="system.modifier" type="number" data-dtype="Number" value="{{item.system.modifier}}" />
                    </div>
                    <div class="rt-header__item-wrapper--text-area">
                        <span class="rt-header__title">Description</span>
                        <textarea class="rt-header__textarea" name="system.description">{{item.system.description}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>