<div class="rt-panel rt-grid-col-2 rt-grid-row-2">
    <h1 class="rt-panel__header">Experience</h1>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Total</span>
        <input class="rt-field__input" data-dtype="Number" type="number" name="system.experience.total" value="{{actor.system.experience.total}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Spent</span>
        <input class="rt-field__input" data-dtype="Number" type="number" name="system.experience.used" value="{{actor.system.experience.used}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Available</span>
        <span class="rt-field__span">{{actor.system.experience.available}}</span>
    </div>
</div>