<div class="rt-panel spacer rt-grid-col-2 rt-grid-row-1">
    <h1 class="rt-panel__header">Fate</h1>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Max</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.fate.max" value="{{actor.fate.max}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Value</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.fate.value" value="{{actor.fate.value}}" />
    </div>
</div>
