<div class="rt-panel spacer rt-grid-col-2">
    <h1 class="rt-panel__header">Integrity</h1>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Max</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.integrity.max" value="{{actor.integrity.max}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Value</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.integrity.value" value="{{actor.integrity.value}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Critical</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.integrity.critical" value="{{actor.integrity.critical}}" />
    </div>
</div>
