<div class="rt-panel spacer rt-grid-col-2">
    <h1 class="rt-panel__header">Armour</h1>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Front</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.front" value="{{actor.front}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Side</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.side" value="{{actor.side}}" />
    </div>
    <div class="rt-field__wrapper">
        <span class="rt-field__header">Rear</span>
        <input type="number" data-dtype="Number" class="rt-field__input" name="system.rear" value="{{actor.side}}" />
    </div>
</div>
